* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
  }
body{
    transition: ease-in 0.5s;
}
.main-container{
    height: 100%;
    width: 100%;
    background-image:url("../assets/images/Background.png");
    background-size: cover;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1% 2% 2% 3% ;  

}
.navbar img{
    padding-left: 2%;
    width: 16vw;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 35%;
}
.navbar li{
    font-size: 1.3vw;
    color: #7B74E5;
}
.btn{
    font-size: 1.3vw;
    background-color: #34006D;
    border: none;
    border-radius: 58px ;
    width: 14vw;
    height: 4vw;
    color:#D7D4FF;
    outline: none;
    transition: ease-in-out 0.3s;
    
}
.btn:hover{
    background-color:#7B74E5;
    color: #34006D;
}
.navbar li:hover{
    color: #34006D;
}
.burger{
    display: none;
    
}
.burger div{
    width: 30px;
    height: 4px;
    margin: 5px;
    border-radius: 5px;
    background-color: #34006D;
    transition:all ease 0.5s;
}

.content-container{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    padding-top: 1.75vw;
}
.heading{
    font-size:2.5vw;
    color: #34006D;
    margin-bottom: 3%;
    text-transform: uppercase;
}
.description{
    font-size:1.3vw;
    color:#7B74E5;
    font-weight:lighter;
}
.mobile-img{
    display: none;
    width: 100%;
}
.mobile-img img{
    width: 60%;
}
.content-left1,.content-right1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.content-right1 img{
    width: 95%;
    padding-right: 3%;
}
.main-h1{
    font-size:3.75vw;
    color: #34006D;
    margin-bottom: 4%;
    padding-left: 12%;
}
.content-left2 img{
    padding-left: 50px;
    width: 95%;
}
.content-right2{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    padding-bottom: 20%;
    padding-left: 15%;
    padding-right: 10%;
}

.content-left3{
    padding-left: 15%;
    padding-top: 20%;
}
.content-right3 img{
    width: 95%;
    padding-right: 30px;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5vw;
    margin-top: 2%;
    margin-bottom: 0px;
    padding-left: 3%;
    padding-right: 2%;
    background-color:rgba(123,116,229,0.5);
    color: #34006D;
    font-size: 1vw;
}
.social-icons{
    display: flex;
    width: 10%;
    flex-direction: row;
    justify-content: space-around;
}
.social-icons li{
    cursor: pointer;
}
.social-icons img{
    width:2vw; 
}
@media screen and (max-width: 768px) {

    .burger{
        display: block;
        z-index: 2;
        
    }
    .content-container .content-left2,.content-right3,.content-right1{
        display: none;
    }
    .content-container{
        grid-template-columns: 1fr;
    }
    .content-container .content-left3,.content-right2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2%;
        width: 100%;
    }
    
    .heading{
        text-align: center;
        font-size: 4vw;
    }
    .description{
        padding: 0;
        margin-bottom: 3%;
        text-align: center;
        font-size: 3vw;
        padding: 5% 20%;
        
    }
    .main-h1{
        padding-left: 0;
        text-align: center;
        width: 80%;
        font-size: 1.5rem;
    }
    .mobile-img{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 4% 0px;
    }
    .content-left1 .btn{
        width: 170px;
        height: 45px;
        font-size: 15px;
    }
    .footer{
        height: 10vw;
        margin-top: 2%;
        margin-bottom: 0px;
        padding-left: 3%;
        padding-right: 2%;
        background-color:rgba(123,116,229,0.5);
        color: #34006D;
        font-size: 2.2vw;
    }
    .social-icons{
        display: flex;
        width: 20%;
        flex-direction: row;
        justify-content: space-around;
    }
    .social-icons img{
        width:4vw; 
    }
    .navbar img{
        padding: 3%;
        width: 170px;
        
    }
    .nav-links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1;
        transform: translateX(100%);
        transition: ease-in-out 0.5s;
        
    }
    .nav-links li{
        padding:5%;
        font-size: large;
    }
    .nav-links .btn{
        width: 170px;
        height: 45px;
        font-size: large;
    }
    .nav-active{
        transform: translateX(0);
    }
    .active{
        width: 30px;
    height: 4px;
    margin: 5px;
    border-radius: 20px;
    background-color: #7B74E5;
    }
    .toggle .line1{
      transform: rotate(-45deg) translate(-7px,6px);
    }
    .toggle .line2{
    opacity: 0;
    }
    .toggle .line3{
      transform: rotate(45deg) translate(-7px,-6px);
  }
}
